# Supabase Project ID: sjrzcyfvrrfmrbgekwhn
SUPABASE_PROJECT_ID=sjrzcyfvrrfmrbgekwhn
VITE_SUPABASE_URL=https://sjrzcyfvrrfmrbgekwhn.supabase.co
VITE_SUPABASE_ANON_KEY=
SUPABASE_ACCESS_TOKEN=
SUPABASE_DB_PASSWORD=
